<form>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <input class="form-control" [(ngModel)]="userStaffInfo.userName" name="userName" placeholder="UserName">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <input class="form-control" [(ngModel)]="userStaffInfo.nickName" name="nickName" placeholder="nickName">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <input class="form-control" [(ngModel)]="userStaffInfo.email" name="email" placeholder="email">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <input class="form-control" [(ngModel)]="userStaffInfo.password" name="password" placeholder="password">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <input class="form-control" [(ngModel)]="userStaffInfo.confirmPassword" name="confirmPassword" placeholder="confirmPassword">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <button class="btn btn-success" type="button">Save</button>
        </div>
    </div>
</form>